
body{
  margin: 0;
  background-color: #000;
  padding: 0;
  font-family: 'Montserrat'; font-weight: bolder;
}

.navbar{
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: #000;
}

.maintitle{
  margin: 0;
  font-size: 2rem;
}
.nav-links ul{
  display: flex;
  padding: 0;
  margin: 0;
}
.nav-links li{
  list-style: none;


}
.nav-links li a{
  text-decoration: none;
  padding: 1.5rem 1rem 1.5rem 1rem;
  border-style: solid;
  border-width: 0 0 6px 0;
  border-color: rgb(255, 255, 255);
  color: #000;
  display: block;
}
.nav-links li a:hover{
  border-color: #3f697f;
}
.toggle-button{

  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  width: 30px;
  height: 21px;
}
.toggle-button .bar{
  background-color: #000;
  border-radius: 5px;
  height: 3px;
  width: 100%;
}
.main{
  background-color: #000;
  color: #fff;
  padding-left: 2rem;
  width: 700px;;

}
.wrapper{
  width: 100%;
  background-color: #000;
}
.intro1{
  margin: 0;

  padding-top: 3rem;
  padding-bottom: 3rem;
}
.intro2{
  margin: 0;
  color: #a5edcb;
  padding-bottom: 3rem;

}
.wrapper1{
  position: relative;
  height: 100px;


}
.brandtitle{
  width: 5rem;
}
.contactme{
  display: block;
  margin-left: 2rem;
  margin-right: auto;
  width: 230px;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 255, 140);
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.contactme span{
  position: relative;
  z-index: 2;
}

.contactme:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #44f384;
  transition: all .35s;
}

.contactme:hover{
  color: #000000;
  border: none;
}

.contactme:hover:after{
  width: 100%;
}
@media (max-width: 800px) {
  .toggle-button{
    display: flex;
  }
  .nav-links{
   display: none;
    width: 100%
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
  }
  .nav-links ul {
    width: 100%;
    flex-direction: column;

  }
  .wrapper{
    width: inherit;
  }
  .nav-links ul{
    border: solid rgb(120, 120, 120);
    border-width: 2px 0 0 0;

  }
  .nav-links li {
    text-align: center;

  }
  .nav-links li a{
    border: none;
  }
  .nav-links li a:hover{
    background-color: rgb(0, 0, 0);
    color: #a5edcb;
  }
  .nav-links.active{
    display: flex;
  }
  .main{
    width: inherit;
  }

}

.brandtitle{
  font-size: 2rem;
  margin-left: 2rem;
}
