
body{
  margin: 0;
  font-family: 'Montserrat'; font-weight: bolder;
}

.title0{
  margin: 0;
  padding-top: 1rem;
}
.title1{
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#contactlogo{
  width: 5rem;
  position: fixed;
  bottom: 40px;
  right:40px;
}
.top{

  color: #fff;
  text-align: center;

  background-color: #000;
  height: 100%;

}
.buttons{
  background-color: #fff;
  float: right;
  padding: 1em;
  font-family: 'Montserrat'; font-weight: bolder;
  border: none;
}
.buttons:hover{
  background: black;
  color: white;
}
